@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
}
.no-scroll {
  overflow: hidden;
}

.header {
  width: 100%;
  height: 4rem;
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
}
.header-content {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 164px;
  height: auto;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.desktop-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.desktop-menu li {
  margin-right: 2rem;
}
.desktop-menu li a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
  font-weight: 550;
  font-size: 0.875rem;
}
.mobile-menu li a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
  font-weight: 550;
  font-size: 1rem;
  color: hsl(0, 0%, 26%);
}
.menu-icon {
  width: fit-content;
  display: none;
  cursor: pointer;
}
.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 90vw;
  list-style: none;
  background-color: hsl(0, 0%, 100%);
  display: none;
  padding: 2rem;
  z-index: 99;
  row-gap: 1.5rem;
  margin: 2rem auto;
  border-radius: 0.5rem;
}
.mobile-menu.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-btn {
  width: fit-content;
  height: auto;
}
.btn {
  background: linear-gradient(120deg, hsl(192, 70%, 51%), hsl(136, 64%, 51%));
  color: hsl(0, 100%, 100%);
  padding: 0.75rem 1.8rem;
  border: none;
  border-radius: 2rem;
  font-size: 0.875rem;
  font-weight: 550;
  cursor: pointer;
}
main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  z-index: 98;
  display: none;
}
.overlay.active {
  display: block;
}
.hero {
  width: 100%;
  height: 100vh;
  background-color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem;
}
.hero-text {
  width: 38%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 1.5rem;
}
.hero-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
}
.hero-content h1 {
  font-size: 3.2rem;
  font-weight: 500;
  color: hsl(233, 26%, 24%);
}
.hero-content p {
  font-size: 1.125rem;
  color: hsl(233, 8%, 62%);
  line-height: 1.8;
}
.mock-up {
  width: 60%;
  overflow: hidden;
  height: auto;
  z-index: 2;
}
.mock-up img {
  width: 100%;
  margin-left: 4.5rem;
  height: auto;
  object-fit: cover;
  object-position: right;
}
.features {
  background-color: hsl(220, 16%, 96%);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 9rem;
  row-gap: 4rem;
  z-index: 1;
}
.feature-heading {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 1.5rem;
}
.heading-text {
  width: 50%;
  height: auto;
}
.heading-text h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: hsl(233, 26%, 24%);
}
.heading-content {
  width: 50%;
  height: auto;
}
.heading-content p {
  font-size: 1.125rem;
  color: hsl(233, 8%, 62%);
  line-height: 1.8;
}
.features-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.feature {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}
.f-img img {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
}
.feature h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(233, 26%, 24%);
}
.feature p {
  width: 100%;
  font-size: 0.9rem;
  color: hsl(233, 8%, 62%);
  line-height: 1.8;
  text-align: left;
}
.f-img {
  width: fit-content;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 993px) {
  .hero {
    padding: 4rem 0 2rem 9rem;
  }
}
@media (max-width: 992px) {
  .hero {
    padding: 2rem 0 2rem 2rem;
  }
  .features {
    padding: 4rem 2rem;
  }
  .feature-heading {
    padding-top: 2rem;
    align-items: center;
  }
  .heading-text,
  .heading-content {
    text-align: center;
  }
  .header-content {
    width: 100%;
  }
  .hero-text {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .hero {
    padding: 2rem 0 2rem 2rem;
  }
  .header-content {
    width: 90%;
  }
  .hero-content h1 {
    font-size: 2.3rem;
  }
  .hero-content p {
    font-size: 1rem;
  }
  .desktop-menu {
    display: none;
  }
  .desktop-menu i {
    display: block;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .header-btn {
    display: none;
  }
  .features {
    padding: 4rem 2rem;
  }
  .feature {
    width: fit-content;
  }
  .feature p {
    text-align: center;
  }
  .features-list {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 1rem 1rem;
  }
  .nav ul li {
    margin-right: 1rem;
  }
  .btn {
    padding: 0.5rem 1.2rem;
    font-size: 0.75rem;
  }
  .desktop-menu {
    display: none;
  }
  .hero {
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    align-items: center;
    justify-content: start;
  }
  .hero-text {
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    row-gap: 3rem;
    padding-top: 1rem;
  }
  .hero-text button {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
  .hero-content {
    justify-content: center;
    row-gap: 2rem;
  }
  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-content p {
    font-size: 1rem;
  }
  .mock-up {
    width: 100%;
    overflow: hidden;
    height: auto;
  }
  .mock-up img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70% 85%;
    margin: 0;
  }
  .feature {
    width: fit-content;
  }
  .features {
    padding: 4rem 2rem;
    height: auto;
  }
  .feature-heading,
  .features-list {
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .heading-text,
  .heading-content {
    width: 100%;
  }
  .features-list {
    flex-direction: column;
    row-gap: 3rem;
  }
}
